html {
  scroll-behavior: smooth;
}

body#home {
  background-image: url("../bricks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111;
  height: 100%;
}

body#about {
  background-color: #efefef;
}

h1,h2,p {
  text-align: center;
  vertical-align: middle;
}

h2 {
  font-family: 'Coustard', serif;
}

/* nav bar */
.navbar {
  background-color: #8bd9c2;
  text-transform: uppercase;
  padding: 10px 16px;
  z-index: 999;
  font-family: 'Alfa Slab One', cursive;
}

.navbar-brand img {
  height: 2rem;
}

/* fixed header */
.content {
  padding: 20px;
  max-width: 1200px;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* home page circle for title */
.title_bubble {
  display: table-cell;
  background: #8bd9c2;
  border-radius: 50%;
  margin-top: 200px;
  height: 500px;
  width: 500px;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

/* footer */
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:110px;
   width:100%;
   background:#8bd9c2;
}

div.introsentences {
  font-family: 'Coustard', serif;
  align-items: center;
  font-size: 1.5em;
  transition: 0.6s ease;
  margin: 0 40px;
  justify-content: center;
}

  ul {
    list-style: none;
    display: flex;
    margin: 0 40px;
  }

  li {
    margin: 0 40px;
  }



/* about.html headings and paragraphs */
.heading {
  color: #8bd9c2;
  font-family: 'Alfa Slab One', cursive;
  font-size: 3em;
}

.padding {
  padding: 2rem 0;
}

h3 {
  text-align: center;
  font-family: 'Coustard', serif;
  font-size: 2em;
}

h4 {
  text-align: left;
  font-family: 'Coustard', serif;
  font-size: 1.5em;
  margin: 0.3rem 0.5rem;
  padding: 0.3rem;
}

.text {
  text-align: left;
  margin: 0.3rem 0.5rem;
  padding: 0.3rem;
  vertical-align: center;
}

#pushandpull .text {
  text-align: center;
}

/* pictures on about page */
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  border-radius: 50%;
}

/* CSS for the flip card effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Gives the 3D effect */
}

/* This positions the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: black;
  transform: rotateY(180deg);
}

.hidden_image {
  border-radius: 50%;
}

/* Go to top button */
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #8bd9c2;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
