body {
  background-image: url("../mainbackground.jpg");
  background-repeat: no-repeat;
  background-size: 100vw, 100vh;
  background-color: #111;
}

h1,h2,p {
  text-align: center;
}

.navbar {
  background-color: #8bd9c2;
  text-transform: uppercase;
}

.navbar-brand img {
  height: 2rem;
}
