body#home {
  background-image: url("../mainbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111;
  height: 100%;
}

h1,h2,p {
  text-align: center;
}

/* nav bar */
.navbar {
  background-color: #8bd9c2;
  text-transform: uppercase;
}

.navbar-brand img {
  height: 2rem;
}

/* title */
.title_bubble {
  display: table-cell;
  background: #8bd9c2;
  border-radius: 50%;
  margin-top: 200px;
  height: 500px;
  width: 500px;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

/* about.html headings and paragraphs */
.heading {
  color: #8bd9c2;
  text-transform: uppercase;
  font-family: Coustard;
}

.padding {
  padding: 2rem 0;
}

.text {
  text-align: left;
  margin: 0.3rem 0.5rem;
  padding: 0.3rem;
}
